{% extends "events/layout.html" %}

{% load static %}



{% block body %}

<h2>Welcome, {{ user.creator }}</h2>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-4" style="border-radius: 15px; border: 1px solid #ccc; transform: scale(1);">
      <p>"Bring people outside"</p>
      <button class="btn btn-primary" id="openModalButton" onclick="event_details()">+ Create Event</button>
    </div>
</div>


<!-- Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Create/Edit Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="eventForm" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="eventPoster" class="form-label">Event Poster/Flyer</label>
                <input type="file" class="form-control" id="eventPoster" name="poster" accept="image/*">
            </div>
            <img id="preview" src="#" alt="Image Preview" style="display:none; max-width: 100%; height: auto;">                                  

            <div class="mb-3">
              <label for="eventName" class="form-label">Event Name</label>
              <input type="text" class="form-control" id="eventName" name="name" required>
            </div>
            <div class="mb-3">
              <label for="eventCategory" class="form-label">Event Category</label>
              <select class="form-select" id="eventCategory" name="category">
                <option value="concert">Concert</option>
                <option value="sport">Sport</option>
                <option value="party">Party</option>
                <option value="club">Club</option>
                <option value="tech">Tech</option>
                <option value="others">Others</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="startDateTime" class="form-label">Start Date and Time</label>
              <input type="datetime-local" class="form-control" id="startDateTime" name="start_time" required>
            </div>
            <div class="mb-3">
              <label for="endDateTime" class="form-label">End Date and Time</label>
              <input type="datetime-local" class="form-control" id="endDateTime" name="end_time" required>
            </div>
            <div class="mb-3">
              <label for="eventDescription" class="form-label">Event Description</label>
              <textarea class="form-control" id="eventDescription" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="eventLocation" class="form-label">Location/Address</label>
              <input type="text" class="form-control" id="eventLocation" name="location" placeholder="No1, italawa street, lagos">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="undisclosedAddress" name="undisclosed">
                <label class="form-check-label" for="undisclosedAddress">Mark as Undisclosed</label>
            </div>
            <div class="mb-3">
              <label for="directions" class="form-label">Directions</label>
              <textarea class="form-control" id="directions" name="directions" rows="2"></textarea>
            </div>
            <div class="mb-3">
              <label for="socials" class="form-label">Instagram Link</label>
              <input type="url" class="form-control" id="socials" name="socials" placeholder="https://example.com">
            </div>
            <button type="submit" class="btn btn-primary" id="saveButton" disabled>Save</button>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>


<div id="events-container" class="row"></div>



{% endblock %}

{% block script %}
    <script src="{% static 'events/script.js' %}"></script>
{% endblock %}