#preview {
    max-width: 300px; 
    height: auto;     
    margin-top: 10px; 
}

.event-details {
    padding: 20px;
}

.event-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-details p {
    margin: 5px 0;
}

.event-poster {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

.manage-event-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


i {
    cursor: pointer;
}

.custom-img-size {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
}

/* Ensure all cards have the same size */
.custom-card {
    width: 100%;
    height: 400px; /* Adjust to fit your design */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}
  
.custom-img {
    height: 200px; /* Adjust for consistent image height */
    object-fit: cover; /* Ensure full image is visible */
}


/* Make all cards the same size */
.custom-card2 {
    height: 100%; /* Full height for consistent sizing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}
  
  /* Standardize image size */
.custom-img2 {
    width: 100%; /* Full width */
    height: 200px; /* Fixed height for uniformity */
    object-fit: cover; /* Crop to fit the size */
}
  
  /* Pagination styling (optional) */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination .page-links a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
}
  
.pagination .page-links a:hover {
    background-color: #f0f0f0;
}
  
  
  
.card-text, .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    line-clamp: 1; /* Standard property */
    box-orient: vertical; /* Standard property */
}



.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: black; /* or another dark color */
}

.btn-outline-primary.active {
    background-color: #0d6efd;
    color: white;
}


/* Custom Navbar Styles */
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    margin-right: 1rem;
}

.nav-link:hover {
    color: #0056b3;
}



@media (max-width: 767.98px) {
    .navbar-nav .nav-link {
        margin: 0.5rem 0;
        text-align: center;
    }
    .btn-primary {
        width: 100%; /* Full-width button for small screens */
    }
}

@media (max-width: 768px) {
    /* Smaller screens: Adjust card and image size */
    .custom-card {
      height: 400px;
    }
    .custom-img {
      height: 180px;
    }
    .btn {
        padding: 4px;
        margin: 0;
        width: auto;
        display: inline-block;
      }
}



