<div id="sidenav" class="sidenav">
    <a href="{% url 'host:manage_event' event_id=event.id %}" class="nav-item" data-name="Dashboard"><i class="bi bi-graph-up-arrow"></i></a>
    <a href="{% url 'host:tickets' event_id=event.id %}" class="nav-item" data-name="Ticket"><i class="bi bi-ticket-detailed-fill"></i></a>
    <a href="#" class="nav-item" data-name="Revenue"><i class="bi bi-cash-coin"></i></a>
    <a href="#" class="nav-item" data-name="Scan Ticket"><i class="bi bi-qr-code"></i></a>
    <a href="#" class="nav-item" data-name="Staff management"><i class="bi bi-person-fill-gear"></i></a>
</div>